@charset "utf-8";

/*********************************************************************************************************
	z-index 정리
	layer = z-index:500;
*********************************************************************************************************/

/*********************************************************************************************************
	common
*********************************************************************************************************/
a, button, label {-webkit-tap-highlight-color: rgba(255,255,255,0);}

/* button - large */
[class^="btnLarge"] {display:block;box-sizing:border-box;width:100%;text-align:center;border:1px solid #e6e6e6;border-radius:12px;background-color:#fff;}
[class^="btnLarge"] em {display:inline-block;padding:17px 0;line-height:20px;font-size:16px;font-weight:700;color:#404040;vertical-align:top;}
[class^="btnLarge"]:active,
[class^="btnLarge"]:hover {background-color:#f5f5f5;}
[class^="btnLarge"]:disabled {border:1px solid #f1f1f1;background-color:#f1f1f1;pointer-events:none;}
[class^="btnLarge"]:disabled em {color:#707070 !important;opacity:0.2 !important;}
.btnLarge02 {border:1px solid #f3f1fe;background-color:#f3f1fe;}
.btnLarge02 em {color:#6856f2;}
.btnLarge02:active,
.btnLarge02:hover {background-color:#dfd9fe;}
.btnLarge03 {border:1px solid #6856f2;background-color:#6856f2;}
.btnLarge03 em {color:#fff;}
.btnLarge03:active,
.btnLarge03:hover {background-color:#5343cd;}
.btnLarge03:disabled {border:1px solid #e0e3e9;background-color:#e0e3e9;}

/* button - mideum */
[class^="btnMideum"] {display:block;box-sizing:border-box;width:100%;text-align:center;border:1px solid #e6e6e6;border-radius:12px;background-color:#fff;}
[class^="btnMideum"] em {display:inline-block;padding:14px 0;line-height:18px;font-size:14px;color:#404040;vertical-align:top;}
[class^="btnMideum"]:active,
[class^="btnMideum"]:hover {background-color:#f5f5f5;}
[class^="btnMideum"]:disabled {border:1px solid #f1f1f1;background-color:#f1f1f1;pointer-events:none;}
[class^="btnMideum"]:disabled em {color:#707070 !important;opacity:0.2 !important;}
.btnMideum02 {border:1px solid #f3f1fe;background-color:#f3f1fe;}
.btnMideum02 em {color:#6856f2;}
.btnMideum02:active,
.btnMideum02:hover {background-color:#dfd9fe;}
.btnMideum03 {border:1px solid #6856f2;background-color:#6856f2;}
.btnMideum03 em {color:#fff;}
.btnMideum03:active,
.btnMideum03:hover {background-color:#5343cd;}
.btnMideum03:disabled {border:1px solid #e0e3e9;background-color:#e0e3e9;}

/* button - tiny */
[class^="btnTiny"] {display:inline-block;box-sizing:border-box;padding:0 24px;text-align:center;border:1px solid #e6e6e6;border-radius:12px;background-color:#fff;}
[class^="btnTiny"] em {display:inline-block;padding:11px 0;line-height:16px;font-size:13px;color:#404040;vertical-align:top;}
[class^="btnTiny"]:active,
[class^="btnTiny"]:hover {background-color:#f5f5f5;}
[class^="btnTiny"]:disabled {border:1px solid #f1f1f1;background-color:#f1f1f1;pointer-events:none;}
[class^="btnTiny"]:disabled em {color:#707070 !important;opacity:0.2 !important;}
.btnTiny02 {border:1px solid #f3f1fe;background-color:#f3f1fe;}
.btnTiny02 em {color:#6856f2;}
.btnTiny02:active,
.btnTiny02:hover  {background-color:#dfd9fe;}
.btnTiny03 {border:1px solid #6856f2;background-color:#6856f2;}
.btnTiny03 em {color:#fff;}
.btnTiny03:active,
.btnTiny03:hover {background-color:#5343cd;}
.btnTiny03:disabled {border:1px solid #e0e3e9;background-color:#e0e3e9;}

/* button - switch */
[class^="btnSwitch"] {display:inline-block;position:relative;width:56px;height:32px;vertical-align:middle;border-radius:16px;background-color:#e0e3e9;transition:background-color .4s ease;}
[class^="btnSwitch"]:before {display:block;content:"";position:absolute;left:3px;top:3px;width:26px;height:26px;border-radius:100%;background-color:#fff;transition:left .4s ease;}
[class^="btnSwitch"].checked {background-color:#6856f2;transition:background-color .4s ease;}
[class^="btnSwitch"].checked:before {left:27px;}

/* button - bundle box */
[class^="btnBundleBox"] {overflow:hidden;}
[class^="btnBundleBox"] [class^="flexBundle"] {display:flex;margin:0 -15px 0 0;}
[class^="btnBundleBox"] [class^="flexBundle"] .flexItem {width:100%;margin:0 15px 0 0;}

/* form - input text */
[class^="inpTxt"] {display:inline-block;box-sizing:border-box;position:relative;width:100%;border:2px solid #f2f3f5;border-radius:8px;background-color:#f2f3f5;}
[class^="inpTxt"] .inpTit {display:block;box-sizing:border-box;width:100%;padding:22px 15px;line-height:24px;font-size:18px;color:#9f9f9f;text-align:left;}
[class^="inpTxt"] .inp {position:absolute;left:0;top:0;right:0;bottom:0;}
[class^="inpTxt"] .inp input[type="text"],
[class^="inpTxt"] .inp input[type="tel"],
[class^="inpTxt"] .inp input[type="password"],
[class^="inpTxt"] .inp input[type="date"],
[class^="inpTxt"] .inp input[type="month"],
[class^="inpTxt"] .inp input[type="time"],
[class^="inpTxt"] .inp input[type="datetime-local"] {box-sizing:border-box;width:100%;height:100%;padding:0 15px;font-size:18px;color:#101010;border:none;background-color:transparent;outline:none;opacity:0;}
[class^="inpTxt"].active {padding:10px 0;border:2px solid #6856f2;background-color:#f2f3f5}
[class^="inpTxt"].active .inpTit  {padding:0 15px;font-size:12px;cursor:default;pointer-events:none;}
[class^="inpTxt"].active .inp {position:static;height:24px;}
[class^="inpTxt"].active .inp input[type="text"],
[class^="inpTxt"].active .inp input[type="tel"],
[class^="inpTxt"].active .inp input[type="password"],
[class^="inpTxt"].active .inp input[type="date"],
[class^="inpTxt"].active .inp input[type="month"],
[class^="inpTxt"].active .inp input[type="time"],
[class^="inpTxt"].active .inp input[type="datetime-local"] {opacity:1;}
[class^="inpTxt"].error {border:2px solid #ed2e7e;background-color:#feeef5}
[class^="inpTxt"].disabled {border:2px solid #dbdee3;background-color:#dbdee3;}
[class^="inpTxt"].disabled .inpTit {color:#b7b7b7;cursor:default;pointer-events:none;}
[class^="inpTxt"].disabled .inp input[type="text"]:disabled,
[class^="inpTxt"].disabled .inp input[type="tel"]:disabled,
[class^="inpTxt"].disabled .inp input[type="password"]:disabled,
[class^="inpTxt"].disabled .inp input[type="date"]:disabled,
[class^="inpTxt"].disabled .inp input[type="month"]:disabled,
[class^="inpTxt"].disabled .inp input[type="time"]:disabled,
[class^="inpTxt"].disabled .inp input[type="datetime-local"]:disabled {color:#9f9f9f;-webkit-text-fill-color:#9f9f9f;}

/* form - input text search */
.inpTxtSrch .inpTit {padding:22px 15px 22px 45px;}
.inpTxtSrch .inpTit:before {display:block;content:"";position:absolute;left:17px;top:50%;width:18px;height:18px;margin:-9px 0 0;background:url('../images/ico_search.png') no-repeat center;background-size:100% auto;}
.inpTxtSrch.active .inpTit {padding:0 15px 0 45px;}
.inpTxtSrch.active .inp input[type="text"],
.inpTxtSrch.active .inp input[type="tel"],
.inpTxtSrch.active .inp input[type="password"] {padding:0 15px 0 45px;}

/* form - input text inquiry */
.inpTxtInquiry .inpTit {padding:22px 92px 22px 15px;}
.inpTxtInquiry .inp input[type="text"],
.inpTxtInquiry .inp input[type="tel"],
.inpTxtInquiry .inp input[type="password"] {padding:0 92px 0 15px;}
.inpTxtInquiry .btnInquiry {position:absolute;right:15px;top:50%;width:72px;height:42px;font-size:13px;border:1px solid #e6e6e6;border-radius:8px;background-color:#fff;transform:translate(0, -50%);}
.inpTxtInquiry.active .inpTit  {padding:0 92px 0 15px;}
.inpTxtInquiry.disabled .btnInquiry {color:rgba(112, 112, 112, 0.2);}

/* form - input selectbox */
[class^="inpSelect"] {display:inline-block;box-sizing:border-box;position:relative;width:100%;border:2px solid #f2f3f5;border-radius:8px;background-color:#f2f3f5;}
[class^="inpSelect"]:before {display:block;content:"";position:absolute;right:15px;top:50%;width:10px;height:7px;background-image:url('../images/ico_selectbox.png');background-repeat:no-repeat;background-position:center top;background-size:100% auto;transform:translate(0, -50%);}
[class^="inpSelect"] .btnSelect {position:absolute;left:0;top:0;width:100%;height:100%;}
[class^="inpSelect"] .inpTit {display:block;box-sizing:border-box;width:100%;padding:22px 15px;line-height:24px;font-size:18px;color:#9f9f9f;text-align:left;}
[class^="inpSelect"] .inp {display:none;}
[class^="inpSelect"] .inp .inpView {display:block;box-sizing:border-box;width:100%;line-height:20px;padding:2px 30px 2px 15px;font-size:18px;color:#101010;}
[class^="inpSelect"] .inp .selectOpt {overflow:hidden;width:0;height:0;padding:0;margin:0;line-height:0;}
[class^="inpSelect"].active {padding:10px 0;border:2px solid #6856f2;background-color:#f2f3f5;}
[class^="inpSelect"].active .inpTit {padding:0 15px;font-size:12px;}
[class^="inpSelect"].active .inp {display:block;}
[class^="inpSelect"].error {border:2px solid #ed2e7e;background-color:#feeef5}
[class^="inpSelect"].disabled {border:2px solid #dbdee3;background-color:#dbdee3;}
[class^="inpSelect"].disabled:before {background-position:center bottom;}
[class^="inpSelect"].disabled .btnSelect:disabled {pointer-events:none;}
[class^="inpSelect"].disabled .inp .inpView {color:#9f9f9f;}

/* form - date */
[class^="formDateItem"] {overflow:hidden;position:relative;}
[class^="formDateItem"] .inner {display:flex;}
[class^="formDateItem"] .inpTxt {width:100%;}
[class^="formDateItem"] .split {display:block;position:absolute;left:50%;top:0;bottom:0;width:24px;line-height:68px;font-size:14px;color:#101010;text-align:center;transform:translate(-50%, 0);}
.formDateItem02 .inner {justify-content:space-between;}
.formDateItem02 .inpTxt {width:calc(50% - 10px);}
.formDateItem02 .split {width:20px;font-size:16px;font-weight:bold;}

/* form - phone */
[class^="inpPhone"] {display:inline-block;box-sizing:border-box;position:relative;width:100%;border:2px solid #f2f3f5;border-radius:8px;background-color:#f2f3f5;}
[class^="inpPhone"] .inpTit {display:block;box-sizing:border-box;width:100%;padding:22px 15px;line-height:24px;font-size:18px;color:#9f9f9f;text-align:left;}
[class^="inpPhone"] .inner {overflow:hidden;height:0;padding:0;margin:0;line-height:0;}
[class^="inpPhone"] .PhCode {width:30%;}
[class^="inpPhone"] .PhCode .btnSelect {position:absolute;left:0;top:0;width:100%;height:100%;}
[class^="inpPhone"] .PhCode .btnSelect:before {display:block;content:"";position:absolute;right:15px;top:50%;width:10px;height:7px;background-image:url('../images/ico_selectbox.png');background-repeat:no-repeat;background-position:center top;background-size:100% auto;transform:translate(0, -50%);}
[class^="inpPhone"] .PhCode .view {display:block;box-sizing:border-box;width:100%;min-height:24px;line-height:20px;padding:2px 15px;font-size:18px;color:#101010;}
[class^="inpPhone"] .PhCode .selectOpt {overflow:hidden;width:0;height:0;padding:0;margin:0;line-height:0;}
[class^="inpPhone"] .phNum {display:none;position:relative;width:70%;height:24px;}
[class^="inpPhone"] .phNum:before {display:block;content:"";position:absolute;left:14px;top:50%;width:2px;height:24px;background-color:#6856f2;transform:translate(0, -50%);}
[class^="inpPhone"] .phNum input[type="text"] {box-sizing:border-box;width:100%;height:100%;padding:0 15px 0 30px;font-size:18px;color:#101010;border:none;background-color:transparent;outline:none;}
[class^="inpPhone"].active {padding:10px 0;border:2px solid #6856f2;background-color:#f2f3f5;}
[class^="inpPhone"].active > .btnSelect {display:none;}
[class^="inpPhone"].active .inpTit {padding:0 15px;font-size:12px;}
[class^="inpPhone"].active .inner {display:flex;justify-content:space-between;align-items:center;height:auto;}
[class^="inpPhone"].active .PhCode {position:relative;}
[class^="inpPhone"].active .PhCode .btnSelect:before {right:0;}
[class^="inpPhone"].active .phNum {display:block;}
[class^="inpPhone"].error {border:2px solid #ed2e7e;background-color:#feeef5}
[class^="inpPhone"].error .phNum:before {background-color:#ed2e7e;}
[class^="inpPhone"].disabled {border:2px solid #dbdee3;background-color:#dbdee3;}
[class^="inpPhone"].disabled .PhCode .btnSelect:before {background-position:center bottom;}
[class^="inpPhone"].disabled .PhCode .btnSelect:disabled {pointer-events:none;}
[class^="inpPhone"].disabled .PhCode .view {color:#9f9f9f;}
[class^="inpPhone"].disabled .phNum:before {display:none;}
[class^="inpPhone"].disabled .phNum input[type="text"]:disabled {color:#9f9f9f;-webkit-text-fill-color:#9f9f9f;}

/* form - 주민등록번호 */
[class^="inpResident"] {display:inline-block;box-sizing:border-box;position:relative;width:100%;border:2px solid #f2f3f5;border-radius:8px;background-color:#f2f3f5;}
[class^="inpResident"] .inpTit {display:block;box-sizing:border-box;width:100%;padding:22px 15px;line-height:24px;font-size:18px;color:#9f9f9f;text-align:left;}
[class^="inpResident"] .inner {overflow:hidden;position:absolute;left:0;top:0;right:0;bottom:0;}
[class^="inpResident"] [class^="resident"] input[type="text"],
[class^="inpResident"] [class^="resident"] input[type="tel"],
[class^="inpResident"] [class^="resident"] input[type="password"] {box-sizing:border-box;width:100%;height:100%;padding:0 15px;font-size:18px;color:#101010;border:none;background-color:transparent;outline:none;opacity:0;}
[class^="inpResident"] .resident01 {box-sizing:border-box;width:100%;height:100%;}
[class^="inpResident"] .resident02 {display:none;position:relative;box-sizing:border-box;padding:0 15px;align-items:center;}
[class^="inpResident"] .resident02:after {display:block;content:"";clear:both;overflow:hidden;width:0;height:0;padding:0;margin:0;line-height:0;font-size:1px;}
[class^="inpResident"] .resident02 > span {display:block;float:left;width:14%;height:24px;}
[class^="inpResident"] .resident02 input[type="text"],
[class^="inpResident"] .resident02 input[type="tel"],
[class^="inpResident"] .resident02 input[type="password"] {width:100%;height:29px;margin:-6px 0 0;padding:0;text-align:center;vertical-align:top;}
[class^="inpResident"] .resident02 input[type="text"]::placeholder,
[class^="inpResident"] .resident02 input[type="tel"]::placeholder,
[class^="inpResident"] .resident02 input[type="password"]::placeholder {line-height:24px;font-size:12px;color:#b7b7b7;}
[class^="inpResident"] .resident02 i {display:block;float:left;width:14%;height:24px;line-height:24px;font-size:12px;color:#101010;font-style:normal;text-align:center;}
[class^="inpResident"] .split {display:none;width:20px;text-align:center;}
[class^="inpResident"].active {padding:10px 0;border:2px solid #6856f2;background-color:#f2f3f5;}
[class^="inpResident"].active .inpTit {padding:0 15px;font-size:12px;}
[class^="inpResident"].active .inner {display:flex;position:static;align-items:center;height:24px;}
[class^="inpResident"].active [class^="resident"] input[type="text"],
[class^="inpResident"].active [class^="resident"] input[type="tel"],
[class^="inpResident"].active [class^="resident"] input[type="password"] {opacity:1;}
[class^="inpResident"].active .resident01 {width:calc(50% - 10px);}
[class^="inpResident"].active .resident02 {display:block;width:calc(50% - 10px);}
[class^="inpResident"].active .split {display:block;font-size:16px;font-weight:bold;}
[class^="inpResident"].error {border:2px solid #ed2e7e;background-color:#feeef5}

/* form - checkbox */
[class^="inpCheck"] {display:inline-block;position:relative;min-height:24px;padding:0 0 0 24px;vertical-align:middle;}
[class^="inpCheck"] input[type="checkbox"] {display:block;position:absolute;left:0;top:0;width:24px;height:24px;background-image:url('../images/ico_check.png');background-repeat:no-repeat;background-position:center top;background-size:100% auto;}
[class^="inpCheck"] > label {display:block;margin:0 0 0 10px;padding:2px 0;line-height:20px;font-size:16px;font-weight:700;color:#101010;}
[class^="inpCheck"] input[type="checkbox"]:checked {background-position:center bottom;}

.inpCheck02 {min-height:20px;padding:0 0 0 14px;}
.inpCheck02 input[type="checkbox"] {top:5px;width:14px;height:10px;background-image:url('../images/ico_check02.png');background-size:100% auto;}
.inpCheck02 > label {padding:0;line-height:20px;font-size:14px;font-weight:400;color:#101010;}

/* form - checkbox btn design */
[class^="btnChkCase"] {overflow:hidden;}
[class^="btnChkCase"] .flexInner {display:flex;margin:0 -8px 0 0;}
[class^="btnChkCase"] .flexInner button {display:block;box-sizing:border-box;width:100%;margin:0 8px 0 0;text-align:center;border:1px solid #e6e6e6;border-radius:8px;background-color:#fff;outline:none;}
[class^="btnChkCase"] .flexInner button em {display:inline-block;padding:14px 0;line-height:18px;font-size:14px;font-weight:400;color:#404040;vertical-align:top;}
[class^="btnChkCase"] .flexInner button.active {border:1px solid #f3f1fe;background-color:#f3f1fe;}
[class^="btnChkCase"] .flexInner button.active em {color:#6856f2;font-weight:700;}

/* form - radio */
[class^="inpRadio"] {display:inline-block;position:relative;min-height:24px;padding:0 0 0 24px;vertical-align:middle;}
[class^="inpRadio"] input[type="radio"] {display:block;position:absolute;left:0;top:0;width:24px;height:24px;background-image:url('../images/ico_radio.png');background-repeat:no-repeat;background-position:center top;background-size:100% auto;}
[class^="inpRadio"] > label {display:block;margin:0 0 0 10px;padding:2px 0;line-height:20px;font-size:16px;font-weight:700;color:#101010;}
[class^="inpRadio"] input[type="radio"]:checked {background-position:center bottom;}

/* form - input guide */
[class^="inpMssg"] {display:block;margin:8px 0 0;font-size:12px;color:#707070;}

/* flag badges */
[class^="flagItem"] {display:inline-block;padding:0 8px;font-size:12px;color:#6856f2;line-height:24px;border-radius:12px;background-color:#f3f1fe;}

/* tab */
[class^="tabBox"] {background-color:#fff;}
[class^="tabBox"] .tabInner ul {display:flex;}
[class^="tabBox"] .tabInner ul li {width:100%;}
[class^="tabBox"] .tabInner ul li a,
[class^="tabBox"] .tabInner ul li button {display:block;box-sizing:border-box;width:100%;position:relative;text-align:center;}
[class^="tabBox"] .tabInner ul li a em,
[class^="tabBox"] .tabInner ul li button em {display:inline-block;padding:14px 0;line-height:20px;font-size:16px;color:#9f9f9f;}
[class^="tabBox"] .tabInner ul li.active a em,
[class^="tabBox"] .tabInner ul li.active button em {font-weight:700;color:#101010;}
[class^="tabBox"] .tabInner ul li.active a:after,
[class^="tabBox"] .tabInner ul li.active button:after {display:block;content:"";position:absolute;left:0;right:0;bottom:-1px;height:2px;background-color:#101010;}

.tabBox02 {margin:0 -20px;padding:0 8px;background-color:#f4f4f4;}
.tabBox02 .tabInner ul li {width:auto;}
.tabBox02 .tabInner ul li a,
.tabBox02 .tabInner ul li button {padding:0 12px;}
.tabBox02 .tabInner ul li a em,
.tabBox02 .tabInner ul li button em {padding:18px 0}
.tabBox02 .tabInner ul li.active a:after,
.tabBox02 .tabInner ul li.active button:after {display:none;}

.tabBox03 .tabInner ul li {width:auto;}
.tabBox03 .tabInner ul li a,
.tabBox03 .tabInner ul li button {padding:0 16px;}
.tabBox03 .tabInner ul li a em,
.tabBox03 .tabInner ul li button em {padding:6px 0;font-size:14px;}
.tabBox03 .tabInner ul li.active a,
.tabBox03 .tabInner ul li.active button {border-radius:16px;background-color:#4b4e65;}
.tabBox03 .tabInner ul li.active a em,
.tabBox03 .tabInner ul li.active button em {font-weight:400;color:#fff;}
.tabBox03 .tabInner ul li.active a:after,
.tabBox03 .tabInner ul li.active button:after {display:none;}

.tabBox04 {padding:4px;border-radius:6px;background-color:#eff1f5;}
.tabBox04 .tabInner ul li a em,
.tabBox04 .tabInner ul li button em {padding:6px 0;font-size:14px;}
.tabBox04 .tabInner ul li.active a,
.tabBox04 .tabInner ul li.active button {border-radius:6px;background-color:#fff;}
.tabBox04 .tabInner ul li.active a em,
.tabBox04 .tabInner ul li.active button em {font-weight:400;}
.tabBox04 .tabInner ul li.active a:after,
.tabBox04 .tabInner ul li.active button:after {display:none;}

.tabBox05 {display:inline-block;border-radius:100px;background-color:#f2f3f5;}
.tabBox05 .tabInner ul li a,
.tabBox05 .tabInner ul li button {padding:0 15px;border-radius:100px;}
.tabBox05 .tabInner ul li a em,
.tabBox05 .tabInner ul li button em {padding:4px 0;font-size:12px;}
.tabBox05 .tabInner ul li.active a,
.tabBox05 .tabInner ul li.active button {background-color:#4b4e65;}
.tabBox05 .tabInner ul li.active a em,
.tabBox05 .tabInner ul li.active button em {font-weight:400;color:#fff;}
.tabBox05 .tabInner ul li.active a:after,
.tabBox05 .tabInner ul li.active button:after {display:none;}

.tabDateBox {background-color:#fff;}
.tabDateBox .tabDateInner ul {display:flex;}
.tabDateBox .tabDateInner ul.swiper-wrapper {width:10000em;}
.tabDateBox .tabDateInner ul li {width:auto;}
.tabDateBox .tabDateInner ul li a,
.tabDateBox .tabDateInner ul li button {box-sizing:border-box;min-width:68px;min-height:68px;padding:0 8px;border-radius:16px;}
.tabDateBox .tabDateInner ul li a .sDate,
.tabDateBox .tabDateInner ul li button .sDate {display:block;padding:0;line-height:16px;font-size:11px;color:#cfcfcf;}
.tabDateBox .tabDateInner ul li a .bDate,
.tabDateBox .tabDateInner ul li button .bDate {display:block;line-height:30px;font-size:20px;font-weight:700;color:#9f9f9f;}
.tabDateBox .tabDateInner ul li a .pDate,
.tabDateBox .tabDateInner ul li button .pDate {display:block;padding:0;line-height:20px;font-size:13px;font-weight:400;color:#9f9f9f;}
.tabDateBox .tabDateInner ul li.active a,
.tabDateBox .tabDateInner ul li.active button {background-color:#6856f2;}
.tabDateBox .tabDateInner ul li.active a .sDate,
.tabDateBox .tabDateInner ul li.active button .sDate {font-weight:400;color:#fff;}
.tabDateBox .tabDateInner ul li.active a .bDate,
.tabDateBox .tabDateInner ul li.active button .bDate {color:#fff;}
.tabDateBox .tabDateInner ul li.active a .pDate,
.tabDateBox .tabDateInner ul li.active button .pDate {color:#fff;font-weight:400;}


/*********************************************************************************************************
	layer pop
*********************************************************************************************************/
/* default type */
.layerWrap {display:none;position:fixed;left:0;top:0;right:0;bottom:0;z-index:500;}
.layerWrap .AccessibilityHtml1 {overflow:hidden; width:0; height:0; padding:0; margin:0; font-size:1px; line-height:0; color:transparent;}
.layerWrap .AccessibilityHtml2 {overflow:hidden; width:0; height:0; padding:0; margin:0; font-size:1px; line-height:0; color:transparent;}
.layerWrap .layerMask {position:absolute;left:0;top:0;right:0;bottom:0;background:url('../images/layer_dimed.png') repeat;}
.layerWrap .layerBox {overflow:hidden;position:absolute;left:20px;top:50%;right:20px;box-sizing:border-box;border-radius:16px;background-color:#fff;transform:translate(0, -50%);}
.layerWrap .layerBox .header {padding:24px 24px 0;}
.layerWrap .layerBox .header .layerTitle {display:block;padding:4px 0;line-height:24px;font-size:16px;font-weight:400;}
.layerWrap .layerBox .header[aria-hidden="true"] {display:none;}
.layerWrap .layerBox .header[aria-hidden="true"] + .layerBody {padding:24px;}
.layerWrap .layerBox .layerBody {overflow-x:hidden;overflow-y:auto;box-sizing:border-box;padding:15px 24px 24px;}
.layerWrap .layerBox .btnCloseLayer {position:absolute;right:15px;top:26px;width:24px;height:24px;background:url('../images/btn_layer_close.png') no-repeat center;background-size:16px;}

/* float bottom type */
.layerWrap.floatB .layerBox {display:none;left:0;right:0;bottom:0;top:auto;border-radius:16px 16px 0 0;transform:translate(0, 0);}
.layerWrap.floatB .layerBox .layerBody {padding:15px 24px 24px;}

/* layer button bundle */
.layerWrap [class^="btnBundleBox"] {margin:30px 0 0;}

/* layer alert message */
[class^="alertMssgWrap"] .mssgTit {display:block;line-height:30px;font-size:20px;font-weight:700;text-align:center;}
[class^="alertMssgWrap"] .mssgTxt {display:block;margin:8px 0 0;line-height:20px;font-size:14px;color:#404040;text-align:center;}
[class^="alertMssgWrap"] .mssgTxt:first-child {margin:0;}

/* layer selet option box */
[class^="layerOptionBox"] {margin:0 -24px;}
[class^="layerOptionBox"] ul li button {width:100%;min-height:52px;padding:6px 24px;text-align:left;}
[class^="layerOptionBox"] ul li button em {display:block;line-height:20px;font-size:14px;color:#101010;}
